{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block main %}
    <div class="info_box">
	<div class="info_container">
            <img src="/static/img/logo.png" alt="">
	</div>
        <div class="info_container">
            <h1 class="header">
                Фабрика кофе
            </h1>
        </div>
        <div class="info_container">
            <img src="/static/img/sep1.png" vspace="30" alt="">
        </div>
        <div class="info_container">
            <p>
                Мы готовим кофе больше чем в 30 вариантах, включая самые экзотические сорта. География наших поставщиков насчитывает 12 стран.
	   </p>
        </div>
        <div class="info_container">
            <a href="/shop" class="s1_button">отведай чашечку</a>
        </div>
    </div>
{% endblock %}