{% extends "base.html" %}

{% block title %}О нас{% endblock %}

{% block main %}
<div class="column-1">
    <div class="info_container">
        <h1><img src="/static/img/first_logo.png" alt="" /></h1>
    </div>
    <p>
        <em>«Наша особенность в том, что мы делаем продукт для людей. Мы не художники, мы — ремесленники, и посвящаем себя каждодневному труду. Все, что мы предлагаем нашим гостям, делается нашими руками. И качеству сырья, и вкусу конечного продукта, и другим деталям мы уделяем огромное внимание. Для нас наша работа – это призвание.»</em>
    </p>
    <ul>
        <li>нами движет постоянное стремление к повышению качества всего: от текстов на сайте до оборудования на производстве;</li>
        <li>мы дружелюбные и общаемся, как живые люди, а не как боты;</li>
        <li>мы всегда на стороне покупателя: если потерялся заказ или расстроил вкус;</li>
        <li>мы эксперты в том, что мы делаем: первые лица бизнеса – главные продуктовые эксперты;</li>
        <li>у нас первоклассный кофейный контент: от учебника о кофе до описаний отдельных сортов;</li>
        <li>все наши отзывы и комментарии честные: ни одного заказного за все эти годы;</li>
        <li>мы слышим вас, всегда! Рассматриваем все просьбы по сайту, без исключений;</li>
        <li>работаем как часы: с 2011 года не пропустили ни одной обжарки несмотря ни на что.</li>
    </ul>
    <div class="team_jpg">
        <img src="/static/img/team.jpg" alt="" width="90%">
    </div>
    <div class="info_container">
        <img src="/static/img/sep1.png" vspace="30" alt="">
    </div>
{% endblock %}
